<div class="card mt-2">
    <div class="card-header">
        <span class="font-weight-bold" [innerHTML]="question.questionTopic"></span>
    </div>
    <div class="card-body">
        <h5 class="card-title" [innerHTML]="question.questionText"></h5>
        <div class="custom-control custom-radio" *ngFor="let option of question.options; let i of index;">
            <input type="radio" [id]="'option' + i" class="custom-control-input" [(ngModel)]="question.answer" [value]="option">
            <label class="custom-control-label" [for]="'option' + i" [innerHTML]="option"></label>
        </div>
   
    </div>
    <div class="card-footer">

    </div>
</div>